---
layout: archive
author_profile: true
gallery:
  - url: tallinn-maps
    image_path: /assets/images/old_map.png
    alt: "image 1"
    title: "Old map"
gallery2:
  - url: https://github.com/skandium/keras-ppo
    image_path: /assets/images/cartpole.png
    alt: "image 2"
    title: "CartPole"
gallery3:
  - url: /assets/images/trump_vote_share.png
    image_path: /assets/images/trump_vote_share.png
    alt: "image 3"
    title: "Trump vote share"
---

{% include gallery id="gallery" caption="Georeferencing historical Tallinn" %}

<hr>

{% include gallery id="gallery3" caption="They say that finding strong correlations is hard in social sciences..." %}

<hr>

{% include gallery id="gallery2" caption="Proximal policy optimization in Keras" %}

